---
---

@import "{{ site.theme }}";

p {
  line-height: 1.6;
}

pre, code {
  white-space: pre-wrap;
}

.markdown-body {
  word-wrap: break-word;
}


body {
  max-width: 650px;
  margin: auto;
  line-height: 1.6;
  font-family: Georgia, serif;
  color: red;
}
