---
---

@import "minima";

p {
  line-height: 1.6;
}

pre, code {
  white-space: pre-wrap;
}

.markdown-body {
  word-wrap: break-word;
}

/* Indents */
p {
  text-indent: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

p + p {
  margin-top: 0;
}

p:first-of-type {
  text-indent: 0;
}

/* Scene breaks */
.scene-break {
  text-align: center;
  margin: 2em 0;
  text-indent: 0;
}

/* Fonts */
body {
  max-width: 650px;
  margin: auto;
  line-height: 1.6;
  font-family: Georgia, serif;
}
